.widget {
    padding: ( $grid-gutter-width);
    font-size: 1.125rem;
    p {
      font-size: 1.125rem;
    }
    //margin: 0 0 ( $grid-gutter-width );
    //margin: 0 ( $grid-gutter-width * .125 ) ( $grid-gutter-width ) ( $grid-gutter-width * .125 );
    margin-bottom: $grid-gutter-width;
    //font-family: $headings-font-family;
    font-weight: 300; // $headings-font-weight;
    //box-shadow: 0 0 5px #ccc;
    //box-shadow: 0 2px 6px #dddbdb;
    //background-color: #f1f0ec;
    ul {
        @extend .list-unstyled;
        margin-left: 0;
        margin-bottom: 0;
    }
    li {
        margin-bottom: .75em;
    }
    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
        background-color: $color__background-body;
        padding: .25rem;
        border: 1px solid $color__border-input;
    }
    &.widget_search {
        .search-form {
            label {
                width: 100%;
            }
            .search-field {
                width: calc(100% - 0.75rem);
            }
        }
    }
    &.widget_categories {
        label {
            color: $color__text-input-focus;
        }
        a {
          color: $color__text-main;
        }
        ul {
          > li {
           margin-bottom: 0;
           padding: $grid-gutter-width/2 0 0 0;
         }
         &.children {
           padding-left: $grid-gutter-width/2;
         }
        }
        > ul > li {
          border-bottom: 1px solid $color__border-input;
          padding-bottom: $grid-gutter-width/2;
        }
    }
}

.widget_social_media_icons_widget_by_fat {
    text-align: center;
    li {
        display: inline-block;
        margin-bottom: 0;
        a {
            //padding: 1rem;
            svg {
                height: 1.25rem;
                width: auto;
                margin: 0;
            }
        }
    }
}

#secondary {
  padding-top: $grid-gutter-width;
    .widget {
        //padding: ( $grid-gutter-width);
    }
    .widget_social_media_icons_widget_by_fat {
        li {
            margin: 0 .25rem;
            border-radius: 50%;
            background-color: #fff;
            padding-top: .5rem;
            width: 36px;
            height: 36px;
        }
    }
}

#menu-social-widget {
  .widget_social_media_icons_widget_by_fat {
    padding: 0;
  }
}

#tetriary {
    .widget {
        padding: 0;
    }
}

#top-widget,
#bottom-widget {
    .widget {
	padding: ( $grid-gutter-width) 0;
    }
}

#top-widget {
    .widget_custom_html {
	padding: 0;
    }
}

.widget-title {
    position: relative;
    //@extend .h3;
    //line-height: 1;
    //border-bottom: solid 1px #000;
    //padding: 0 0 .5em 0;
    //font-weight: 700;
    //font-size: .75rem;
    font-family: $font__secondary;
    font-size: 1rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: ( $grid-gutter-width);
    //text-align: center;
    //box-shadow: -5px 5px 5px #ccc;
    //margin: 0 ( $grid-gutter-width * -0.125 ) ( $grid-gutter-width * .5 );
    //padding: ( $grid-gutter-width * .125 );
    //background-color: inherit;
    //display:inline-block;
    color: $color__widget-title;
    z-index: 1;
    &:before {
        border-top: 1px solid $color__widget-title;
        content: "";
        margin: 0 auto; // /* this centers the line to the full width specified
        position: absolute; // /* positioning must be absolute here, and relative positioning must be applied to the parent
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        //width: 100%;
        z-index: -1;
        display: inline-block;
    }
    span {
        @extend .small;
        //background-color:  #faf9f8;
        //display: inline-block;
        padding-right: $grid-gutter-width/2;
        display: inline-block;
    }
}


/* Search widget. */

.widget_search .search-submit {
    display: none;
}

.widget_recent_entries,
.widget_recent_comments,
.widget_archive,
.widget_categories,
.widget_search,
.widget_meta {
    line-height: 1.25;
}

.widget_recent_entries a {
    border: 0 transparent;
}

.widget-area {
    //display: none;
    .widget {
        //background-color: #f0efef;
    }
}

@include media-breakpoint-up(lg) {
    .widget-area {
        //display: block;
    }
}

#secondary .widget.widget-author-profile, .widget-author-profile {
    //text-align: center;
    padding: 0;

    .about-author-main-image {
        width: 100%;
        margin-bottom: $grid-gutter-width;
    }

    .about-author-wrapper {
        padding-bottom: $grid-gutter-width;
        //margin: -2rem -2rem 0 -2rem;
        .about-author-signature {
            text-align: right;
            padding: 0 $grid-gutter-width;
            margin-bottom: 0;
        }
        .about-author-description {
            padding: 0 $grid-gutter-width;
        }
    }
}

#secondary,
#tetriary {
    .fat_widget_recent_entries {
	.recent-post-list-item {
	    display: flex;
	    //align-content:center;
	    //align-items:center;
	    //padding-top: $grid-gutter-width/2;
	    //font-weight: 500;
	    line-height: 1;
	    margin-bottom: $grid-gutter-width;
	    .post-categories {
	      font-family: $font__secondary;
	      //margin-top: 0.75rem;
	      //height: 1rem;
		li {
		    display: inline;
		    font-size: .6875rem;
		    text-transform: uppercase;
		    //letter-spacing: .1em;
		    font-weight: 300;
		}
	    }

	    .post-date {
		font-family: $font__secondary;
		font-size: .6875rem;
		line-height: 1;
		text-transform: uppercase;
		//letter-spacing: .1em;
		color: $color__widget-title;
	    }

	    > div {
	      //margin-left:$grid-gutter-width/2;
	    }

	    > a {
	      min-width: 95px;
	    }

	    h3 {
	      //display: block;
	      font-size: 1.125rem;
	      line-height: 1.2;
	      font-weight: 700;
	      margin-bottom: $grid-gutter-width/4;
	    }

	    img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		//margin-right: $grid-gutter-width/2;
	    }
	}
    }
}

#top-widget,
#bottom-widget {
    .fat_widget_recent_entries {
	> ul {
	    margin-left: -$grid-gutter-width / 2;
	    margin-right: -$grid-gutter-width / 2;
	    .recent-post-list-item {
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		display: block;
		clear: none;
		width: 100%;
		float: left;
		.post-categories {
		    line-height: 0.6;
		    li {
			display: inline;
			font-family: $font__secondary;
			text-transform: uppercase;
			font-size: .75rem;
			font-weight: 300;
			color: $color__widget-title;
			a {
			  color: $color__widget-title;
			  //text-decoration: underline;;
			}
		    }
		}
		.post-date {
		    font-family: $font__secondary;
		    text-transform: uppercase;
		    font-size: .75rem;
		    font-weight: 300;
		    line-height: 0.8;
		    color: $color__widget-title;
		    a {
		      color: $color__widget-title;
		    }
		}
		img {
		    width: 100%;
		    margin: 0 0 $grid-gutter-width / 2;
		}
		.recent-post-title {
		  font-size: 1.5rem;
		  font-weight: 700;
		  line-height: 1.2;
		  margin-top: $grid-gutter-width / 2;
		}
	    }
	}
    }
}

@include media-breakpoint-up(md) {
  #top-widget, #bottom-widget {
    .fat_widget_recent_entries {
	> ul {
	    .recent-post-list-item {
		width: 50%;
	    }
	}
    }
  }
}

@include media-breakpoint-up(lg) {
  #top-widget, #bottom-widget {
    .fat_widget_recent_entries {
	> ul {
	    .recent-post-list-item {
		width: 25%;
	    }
	}
    }
  }
}

.menu-social-widget {
    display: inline-block;
    //float: right;
    //background-color: $color__background-body;
    .widget-title {
        display: none;
    }
    .widget_social_media_icons_widget_by_fat {
        //display: inline-block;
        margin-bottom: 0;
        margin-left: 1rem;
        li {
            a {
                padding: .875rem 0;
            }
        }
        svg {
            //width:12px;
            height: 1rem;
            margin: 0 .375rem;
        }
    }
}

.widget_mc4wp_form_widget {
    //background-color: transparent;
    border: 1px solid #e7e7e7;
    //text-align: center;
    p {
        margin-bottom: $grid-gutter-width;
    }
    label{
        margin-bottom: 1rem;
    }
    input[type='email']{
        background-color: #fff;
        width: 100%;
    }
    input[type='submit'] {
        background-color: $color__extra-dark;
        border: 1px solid $color__extra-dark;
        &:hover {
            background-color: transparent;
            color: $color__extra-dark;
        }
    }
}

#footer-widget {
  .widget_mc4wp_form_widget {
    border: none;
    background-color: transparent;
  }
}

.fat__widget-instagram {
    .widget-title, .widget-title:before {
        //padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
        padding-bottom: 0;
    }
    .instagram-gallery-columns-1, .instagram-gallery-columns-2, .instagram-gallery-columns-3, .instagram-gallery-columns-4, .instagram-gallery-columns-5, .instagram-gallery-columns-6, .instagram-gallery-columns-7, .instagram-gallery-columns-8, .instagram-gallery-columns-9 {
        .instagram-gallery-item {
            display: inline-block;
            padding:  0 $grid-gutter-width/2 0;
            width:100%;
            padding-bottom: calc( 100% - 30px );
            margin:0;
            height: 0;
            //padding-bottom: 27%;
            overflow-y: hidden;
            .fat__thumbnail {
                margin:0;
            }
        }
    }
}

#secondary, #tetriary {
  .fat__widget-instagram {
      .widget-title, .widget-title:before {
          //padding-left: $grid-gutter-width/2;
          padding-right: $grid-gutter-width/2;
          padding-bottom: 0;
      }
      .instagram-gallery-columns-1, .instagram-gallery-columns-2, .instagram-gallery-columns-3, .instagram-gallery-columns-4, .instagram-gallery-columns-5, .instagram-gallery-columns-6, .instagram-gallery-columns-7, .instagram-gallery-columns-8, .instagram-gallery-columns-9 {
          .instagram-gallery-item {
              display: inline-block;
              padding:  8px $grid-gutter-width/4 0;
              margin:0;
              height: 0;
              //padding-bottom: 27%;
              overflow-y: hidden;
              .fat__thumbnail {
                  margin:0;
              }
          }
      }
      .instagram-gallery-columns-1 {

          .instagram-gallery-item {
              width:100%;
              padding-bottom: calc( 100% - 15px );
          }
      }
      .instagram-gallery-columns-2 {
          .instagram-gallery-item {
              width:50%;
              padding-bottom: calc( 50% - 15px );
          }
      }
      .instagram-gallery-columns-3 {
          .instagram-gallery-item {
              width:33.33%;
              padding-bottom: calc( 33.33% - 15px );
          }
      }
      .instagram-gallery-columns-4 {
          .instagram-gallery-item {
              width:25%;
              padding-bottom: calc( 25% - 15px );
          }
      }
      .instagram-gallery-columns-5 {
          .instagram-gallery-item {
              width:20%;
              padding-bottom: calc( 20% - 15px );
          }
      }
      .instagram-gallery-columns-6 {
          .instagram-gallery-item {
              width:16.66%;
              padding-bottom: calc( 16.66% - 15px );
          }
      }
      .instagram-gallery-columns-7 {
          .instagram-gallery-item {
              width:14.28%;
              padding-bottom: calc( 14.28% - 15px );
          }
      }
      .instagram-gallery-columns-8 {
          .instagram-gallery-item {
              width:12.5%;
              padding-bottom: calc( 12.5% - 15px );
          }
      }
      .instagram-gallery-columns-9 {
          .instagram-gallery-item {
              width:11.11%;
              padding-bottom: calc( 11.11% - 15px );
          }
      }
  }
  .widget_facebook_likebox {
    text-align: center;
  }
  input[type="search"] {
      font-size: 1.125rem;
  }
}

#tetriary {
  .widget_social_media_icons_widget_by_fat {
      li {
	  margin: 0 $grid-gutter-width/4;
      }
  }
}

#bottom-widget, #top-widget {
  .fat__widget-instagram {
    .instagram-gallery {
      margin-left: - $grid-gutter-width/2;
      margin-right: - $grid-gutter-width/2;
    }
  }
    .widget-title {
        //margin-bottom: $grid-gutter-width/2;
    }
}

@include media-breakpoint-up(sm) {
  #bottom-widget, #top-widget {
    .fat__widget-instagram {
      .instagram-gallery-columns-1 {
        .instagram-gallery-item {
            width:100%;
            padding-bottom: calc( 100% - 30px );
        }
      }
      .instagram-gallery-columns-2, .instagram-gallery-columns-3, .instagram-gallery-columns-4, .instagram-gallery-columns-5, .instagram-gallery-columns-6, .instagram-gallery-columns-7, .instagram-gallery-columns-8, .instagram-gallery-columns-9 {
        .instagram-gallery-item {
          width:50%;
          padding-bottom: calc( 50% - 30px );
        }
      }
    }
  }

}

@include media-breakpoint-up(lg) {
  #bottom-widget, #top-widget {
    .fat__widget-instagram {
      .instagram-gallery-columns-1 {
          .instagram-gallery-item {
              width:100%;
              padding-bottom: calc( 100% - 30px );
          }
      }
      .instagram-gallery-columns-2 {
          .instagram-gallery-item {
              width:50%;
              padding-bottom: calc( 50% - 30px );
          }
      }
      .instagram-gallery-columns-3 {
          .instagram-gallery-item {
              width:33.33%;
              padding-bottom: calc( 33.33% - 30px );
          }
      }
      .instagram-gallery-columns-4 {
          .instagram-gallery-item {
              width:25%;
              padding-bottom: calc( 25% - 30px );
          }
      }
      .instagram-gallery-columns-5 {
          .instagram-gallery-item {
              width:20%;
              padding-bottom: calc( 20% - 30px );
          }
      }
      .instagram-gallery-columns-6 {
          .instagram-gallery-item {
              width:16.66%;
              padding-bottom: calc( 16.66% - 30px );
          }
      }
      .instagram-gallery-columns-7 {
          .instagram-gallery-item {
              width:14.28%;
              padding-bottom: calc( 14.28% - 30px );
          }
      }
      .instagram-gallery-columns-8 {
          .instagram-gallery-item {
              width:12.5%;
              padding-bottom: calc( 12.5% - 30px );
          }
      }
      .instagram-gallery-columns-9 {
          .instagram-gallery-item {
              width:11.11%;
              padding-bottom: calc( 11.11% - 30px );
          }
      }
    }
  }

}

.widget_social_media_icons_widget_by_fat li, .widget.widget_mc4wp_form_widget, .widget-title span {
  background-color: #fff;
}

.single {
    #top-widget {
	.widget {
	    //padding-bottom: 0;
	}
    }
}
