.sticky {
    display: block;
}

.hentry {
    //margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
    display: none;
}

.byline {
    display: inline;
}

.entry-meta .byline,
.entry-meta .posted-on {
    //@extend h6;
    //@extend .small;
    //font-family: "Roboto", sans-serif;
    font-size: .75rem;
    margin: 0;
    padding-top: .375rem;
    padding-bottom: .375rem;
}

.entry-meta,
.entry-meta a {
    font-family: $font__secondary;
    color: $color__text-input;
}

.single,
.page {
    .entry-meta .byline,
    .entry-meta .posted-on {
        //display: block;
        line-height: 1.625;
        //letter-spacing: .05em;
        font-size: .7rem;
        font-weight: 300;
        text-transform: uppercase;
    }
    .entry-meta .byline,
    .entry-meta .byline a {
        color: $color__extra-dark;
	font-size: 15px;
	font-weight: bold;
	img {
	    max-width:72px;
	    border-radius: 50%;
	    margin-right: 1.5em;
	}
    }
    .entry-meta {
        min-width: 100px;
        //text-align: right;
        padding-right: ( $grid-gutter-width / 8);
    }
    .entry-meta .posted-on {
        //border-top: 1px solid #ccc;
    }
    .entry-meta .posted-on,
    .entry-meta .posted-on a {
        color: $color__extra-dark;
    }
}

.site-header {
    min-height: 70px;
}

.page-content,
.entry-content,
.entry-summary {
    //margin: .875em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
    margin-left: -21.666%;
}

.blover-page-intro {
    margin-bottom: $grid-gutter-width;
    //box-shadow: 0 2px 6px #dddbdb;
    padding: $grid-gutter-width ( $grid-gutter-width * .5);
    text-align: center;
    //margin: 0 0 ( $grid-gutter-width );
    color: #404040;
    h1,
    h2 {
        position: relative;
        //margin: 0;
        line-height: 1.1;
        //font-style: italic;
    }
    h1 {
        margin-bottom: 0;
        font-weight: 700;
        color: $color__extra-dark;
    }
    h2 {
        //margin-bottom: .5rem;
    }
    p {
        //display:none;
        font-family: $font__secondary;
        margin-top: 1rem;
        margin-bottom: 0;
        //@extend .small;
        font-size: .7rem;
        text-transform: uppercase;
        letter-spacing: .2em;
    }
    #today-date {
        text-align: center;
    }
}

.archive {
    .archive-blover-page-intro-row {
        margin: 0;
    }
}

.home {
    .blover-page-intro {
        margin-bottom: 0;
    }
}

.search {
  .blover-page-intro.nothing-found {
    h1 {
      font-size: 3.8em;
      font-family: $font__serif;
      padding: 4rem 0 0;
      color: $color__widget-title;
      font-weight: 400;
    }
  }
}

@include media-breakpoint-up(md) {
    .blover-page-intro {
        h2 {
            font-size: 3em;
            font-weight: 300;
        }
    }
    .home {
        .blover-page-intro {
            margin-bottom: $grid-gutter-width;
        }
    }
}

.category-list {
    font-family: $font__secondary;
    font-size: .9rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: ( $grid-gutter-width);
    color: $color__extra-dark;
    margin-bottom: $grid-gutter-width / 2;
    //font-size: .75em;
    font-weight: 300;
    a {
      color: $color__extra-dark;
    }
}

.category-list a:hover {
    text-decoration: none;
}

.site-content {
  //margin-top: $grid-gutter-width;
  margin-top: 2 * $grid-gutter-width;
}

@include media-breakpoint-up(md) {
    .site-content {
	//margin-top: 2 * $grid-gutter-width;
      }
}

@include media-breakpoint-up(lg) {
    .site-content {
	 //margin-top: $grid-gutter-width + 4.5rem;
      }
}

.blog,
.archive,
.search {
    article {
        position: relative;
        //padding-bottom: ( $grid-gutter-width * .5 );
        //margin-bottom: ( $grid-gutter-width * .5 );
        //box-shadow: 1px 2px 15px #e5e5e5;
        background-color: $color__background-body;
        //padding: ( $grid-gutter-width * .5 );
        &.blover-list {
          //display: flex;
            .row {
                margin-bottom: 0;
            }
            .featured-image,
            .blover-list-content {
                //width:50%;
                padding: 0;
                background-color: $color__background-body;
                //position: absolute;
                //right: 0;
                //top: 0;
                //bottom: 0;
                .entry-meta {
                    //position: absolute;
                    //bottom: 0;
                }
            }
            //margin-left: ( $grid-gutter-width / 2);
            //margin-right: ( $grid-gutter-width / 2);
            //display: flex;
            //align-items: stretch;
            //position: relative;
            //right: 0;
            //bottom: 0;
            //top: 0;
        }
        &.blover-classic {
            .featured-image {
                margin-bottom: 0;
            }
        }
    }

    .masonry {
        //padding-bottom: ( $grid-gutter-width * .5 );
        margin-bottom: $grid-gutter-width;
        //margin-bottom: ( $grid-gutter-width / 2 );
        //box-shadow: 10px 10px 5px #888888;
        .entry-title,
        .entry-meta {
            //padding-left:( $grid-gutter-width * .25 );
            //padding-right:( $grid-gutter-width * .25 );
            //padding-bottom: ( $grid-gutter-width * .25 );
        }
        .entry-meta {
            //padding-bottom: ( $grid-gutter-width * .25 );
            //padding-top: ( $grid-gutter-width * .25 );
            //margin-bottom: $grid-gutter-width / 2;
	    position: relative;
            padding: ( $grid-gutter-width / 2) $grid-gutter-width ( $grid-gutter-width * .75);
            text-transform: uppercase;
            font-size: .75rem;
        }
        .entry-content,
        .entry-header {
            padding: ($grid-gutter-width * .75) $grid-gutter-width 0;
            //padding-left: $grid-gutter-width / 2;
            //padding-right: $grid-gutter-width / 2;
            //padding-top: $grid-gutter-width/2 ;
        }
        .entry-content {
          color: $color__widget-title;
        }
    }
}

@include media-breakpoint-up(lg) {
  .blog,
  .archive,
  .search {
    article {
      &.blover-list {
          display: flex;
      }
    }
  }
}

.blog .post .row,
.archive .post .row,
.search .post .row,
.single .post .entry-header,
.single .attachment .entry-header,
.page .page .entry-header,
.page .attachment .entry-header {
    margin-bottom: $grid-gutter-width;
}

.single .post .entry-header,
.single .attachment .entry-header,
.page .page .entry-header,
.page .attachment .entry-header {
    //display: flex;
    //align-items: center;
    //justify-content: left;
}

.blover-list.post {}

@include media-breakpoint-up(sm) {
    .blog .post .row,
    .archive .post .row,
    .search .post .row {
        display: flex;
        align-items: center;
        //justify-content: left;
    }
}

.blog,
.archive,
.search {
    .post .featured-image img {
        //margin-bottom: -1.5em;
    }
}

.blog-category-list {
    //@extend .fat-wpp-image-cat;
    font-family: $font__secondary;
    font-size: .67rem;
    font-weight: 300;
    //padding: .25rem .5rem .125rem 0;
    margin-bottom: $grid-gutter-width/2;
    display: inline-block;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $color__extra-dark;
    a {
        text-transform: uppercase;
        color: $color__extra-dark;
    }
    span {
        margin: .25em;
    }
}

.single,
.page {
    article {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
        }
        //padding-bottom: ( $grid-gutter-width / 2);
        //padding-top: ( $grid-gutter-width / 2);
    }
    .post, .page {
        //box-shadow: 1px 2px 15px #e5e5e5;
        //margin-left: ( $grid-gutter-width / 2);
        //margin-right: ( $grid-gutter-width / 2);
        background-color: #fff;
        //padding: $grid-gutter-width;
        margin-bottom: $grid-gutter-width;
        .single-featured-image {
            //margin-left: - $grid-gutter-width;
            //margin-right: - $grid-gutter-width;
            //margin: 0 (- $grid-gutter-width) ($grid-gutter-width) (- $grid-gutter-width);
            margin-bottom: $grid-gutter-width*1.5;
            img {
              width:100%;
            }
        }
    }
    .site-content {
        //margin-top: 70px;
    }
}

.blover-related-posts {
  margin-bottom: $grid-gutter-width*2;
  //text-align: center;
  h3 {
    @extend .widget-title;
  }

  .related-posts-thumbnail {
    width: 100%;
    padding-bottom: 100%;
    display: block;
  }

  h4 {
    padding-top: $grid-gutter-width/4;
    line-height: 1.5;
    color: $color__widget-title;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
  }
}

.about-author {
    //padding-bottom: 2em;
    p {
      font-size: 1.25rem;
    }
}

.author-avatar {
    display: inline-block;
    padding: 1px;
    border: 1px solid #ddd;
    width: 100%;
    //text-align: center;
    .avatar {
        width: 100%;
    }
}

.blover-author-social-icons {
    margin-top: .25rem;
    a {
        border: 0;
        //text-align: center;
        svg {
            fill: #666;
            height: 1rem;
            margin: .125rem;
        }
        &:hover svg {
            fill: $color__link-hover;
        }
    }
}

.author-avatar-wrapper {
    padding-bottom: 1em;
    //text-align:center;
}

.author-avatar .avatar {
    //width:100%;
}

@include media-breakpoint-up(md) {
    .author-avatar-wrapper {
        text-align: right;
    }
    .blover-author-social-icons {
        //text-align: right;
    }
}

.content-area {
  padding-top: $grid-gutter-width;
  padding-bottom: ( $grid-gutter-width);
}

.entry-footer {
    //border-top: 1px solid #000;
    margin: ( $grid-gutter-width) 0 ( $grid-gutter-width / 2);
    //font-family: $headings-font-family;
    .tags-links {
        font-family: $font__secondary;
        text-transform: uppercase;
        font-weight: 300;
	color: #707070;
    }
    .tags-links a {
        font-family: $font__main;
        //font-weight: 300;
        text-transform: none;
        font-style: italic;
	color: #707070;
    }
    a {
        //border-bottom: none;
    }
}

.page .entry-footer {
    text-align: right;
}

.site-footer {
    @extend .small;
    text-align: center;
    padding: 1.5em 1em;
    //background-color: #000;
    //color: #ccc;
    //font-family: $headings-font-family;
    //position: absolute;
    width: 100%;
    //bottom: 0;
    a {
        //border-bottom: 1px solid #ccc;
        //color: #ccc;
    }
}

.no-results.not-found,
.error-404.not-found {
    text-align: center;
    padding-bottom: 3em;
    p {
        padding: 1em 0 0 0;
    }
    .lead {
        display: block;
        padding: 1em 0 0 0;
    }
    .search-submit {
        display: none;
    }
    label {
        width: 100%;
        //min-width: 300px;
    }
    .search-field {
        padding: .5em .5em .25em;
        //min-width: 300px;
        width: 60%;
        border-radius: 0;
        border-color: transparent;
        border-bottom-color: #000;
    }
}

.blover-post-format-icon {
    position: absolute;
    right: ( $grid-gutter-width * 5/8);
    top: ( $grid-gutter-width * 5/8);
    width: 2.125rem;
    height: 2.125rem;
    text-align: center;
    border-radius: 50%;
    padding-top: .375rem;
    background-color: #fff;
    svg {
        height: 1.25rem;
    }
}

.widget .blover-post-format-icon {
    background-color: transparent;
}

.blover-list {
    .blover-post-format-icon {
        right: ( $grid-gutter-width / 2);
    }
}

.blover-404 {
    h1 {
        text-align: center;
        color: #ddd;
        margin: 0;
        font-size: 10em;
    }
}

@include media-breakpoint-up(md) {
    .blover-404 {
        h1 {
            font-size: 16em;
        }
    }
}

.site-info {
    p {
        margin: 0;
    }
    .custom-logo-link {
        img {
            margin: $grid-gutter-width / 2;
            max-height: 40px;
            width: auto;
            opacity: 0.5;
            transition: .5s;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.mejs-audio {
    margin-bottom: 1em;
}

.more-link {
    display: block;
    margin-top: $grid-gutter-width / 2;
    span {
	@extend button;
    }
}

.blover-classic {
    .more-link {
	text-align: center;
    }
}