.navbar-navigation {
    //@extend .small;
    font-size: .8rem;
    font-family: $font__secondary;
    position: fixed;
    //top:32px;
    //font-weight: 700;
    clear: both;
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px solid $color__border-input;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: .15em;
    box-shadow: 0 1px 4px $color__border-input;
    z-index: 1000;
    .menu {
        //display: block;
    }
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        text-align: right;
        background-color: $color__background-body;
        //transition: .25s;
        .menu-item-has-children,
        .page-item-has-children {
            //> a {
            position: relative;
            //}
            > a:after {
                //font-family: FontAwesome;
                //content: "+";
                //padding-bottom: 1em;
                //margin-top: -100%;
                //font-size: 1.1rem;
                //position:absolute;
                //padding-left: .35em;;
                //top:1.6em;
                //right: -0.25em;
            }
        }
        ul {
            //box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 4.25em;
            left: -999em;
            z-index: 99999;
            border: 1px solid #292f33;
            background-color: #292f33;
            ul {
                left: -999em;
                //top: -1px;
            }
            li {
                a {
                    width: 240px;
                    padding: ( $grid-gutter-width / 2) 0;
                    margin: 0 ( $grid-gutter-width / 2);
                    border-bottom: 1px solid #525a60;
                    color: #fff;
                    text-transform: none;
                    &:hover {
                        color: #aeb3b7;
                    }
                }
                &:hover > ul,
                &:focus > ul,
                &.focus > ul {
                    left: 100%;
                    top: 0;
                }
                &:first-of-type {
                    //padding-top: 0.75em;
                }
                &:last-of-type {
                    a {
                        border-bottom: none;
                    }
                    //padding-bottom: 0.75em;
                }
                &:after {
                  content: "";
                  //padding-left: .5rem;
                }
            }
            :hover > a,
            .focus > a {}
            a:hover,
            a.focus {}
            .current_page_item > a,
            .current-menu-item > a,
            .current_page_ancestor > a,
            .current-menu-ancestor > a {
                &:after {
                    border: none;
                }
                color: $color__link-hover;
            }
        }
        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
        li {
            //float: left;
            position: relative;
            display: inline-block;
            &:hover > a,
            &.focus > a {}

            //a {
              &:after {
                content: "/";
                //padding-left: .5rem;
              }
            //}

            &:last-of-type {
              //a {
                &:after {
                  content: "";
                }
              //}
            }
        }
        a {
            display: inline-block;
            text-decoration: none;
            padding: 1.6125rem 1.125em;
            //margin-top: 1em;
        }
    }
    li {
        //float: left;
        position: relative;
        display: inline;
        //padding: 1em 0;
        &:hover > a,
        &.focus > a {
            //color: $color__link-hover;
        }
    }
    a {
        display: inline;
        text-decoration: none;
        text-align: left;
        border: none;
        color: $color__extra-dark;
        //color:#fff;
        &:hover {
            color: $color__link-hover;
        }
    }
    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
        //background-color: $color__link-hover;
        color: $color__extra-dark;
        //&:after {
            //content: '';
            //display: block;
            //position: absolute;
            //width: .75em;
            //bottom: 0px;
            //left: 1em;
            //border: 1px solid $color__link-hover;
        //}
    }
    .expand-submenu {
        display: none;
    }

    .blover-cart {
      font-family: $font__main;
      font-size: 1rem;
      text-transform: none;
      float:right;
      padding: 1.5rem 1rem;
      //margin: .5rem;
    }
}

.admin-bar .navbar-navigation {
    top:46px;
}

@media screen and (min-width: 783px) {
  .admin-bar .navbar-navigation {
    top: 32px;
  }
}

.main-navigation,
.left-sidebar-area .widget_nav_menu {
    //@extend .small;
    font-size: 65%;
    font-family: $font__secondary;
    //text-align: center;
    margin: $grid-gutter-width 0;
    text-transform: uppercase;
    letter-spacing: .15em;
    //font-family: $headings-font-family;
    //font-weight:700;
    ul {
        list-style: none;
        padding-left: 0;
        .expand-submenu {
            padding: .125rem 0 .125rem .75rem;
        }
        ul {
            //padding-left: 1em;
            margin-bottom: 1.5em;
            display: none;
            text-transform: none;
            padding-left: $grid-gutter-width/2;
            a {
                padding: .25em 0;
            }
            .expand-submenu {
                padding: 0;
            }
        }
        //li {
        //                  > ul {
        //                    display: none;
        //              }
        //		&:hover > ul,
        //		&.focus > ul {
        //                      display: block;
        //		}
        //}
        .current_page_item > a,
        .current-menu-item > a,
        .current_page_ancestor > a,
        .current-menu-ancestor > a,
        .current_page_item > .expand-submenu,
        .current-menu-item > .expand-submenu,
        .current_page_ancestor > .expand-submenu,
        .current-menu-ancestor > .expand-submenu {
            //background-color: $color__link-hover;
            color: $color__link-hover;
        }
    }
    li {
        margin: 0 0 1em;
        text-align: left;
    }
    a {
        color: $color__extra-dark;
        display: inline-block;
        padding: .75em 0;
        width: 200px;
        //text-align: center;
    }
    .expand-submenu {
        transform-origin: 70% 50% 0;
        cursor: pointer;
        font-size: 1.25rem;
        padding: 1.5675rem .625rem 1.5675rem 0;
        display: block;
        //position:absolute;
        //top:1.75rem;
        float: right;
        //margin-left: .5em;
        //padding: .5em;
        &:hover {
            color: $color__link-hover;
        }
        //float:right;
        //font-size: 1.375rem;
        //padding: 1.5675rem .625rem 1.5675rem 0;
        //display: block;
        //margin-left: -11px;
    }
    a:hover {
        color: $color__link-hover;
    }
}

.blover-search-panel {
    display: none;
    position: absolute;
    height: 100%;
    //float: right;
    top: 0;
    //right:0;
    width: 100%;
    //width: calc(100% - 56px);
    //width: calc(100% - 72px);
    //margin-right: 54px;
    //padding-left: 54px;
    text-align: center;
    background-color: #fff;
    //z-index: 3000;
    .blover-search-panel-close {
        //display: none;
        float: right;
        padding: .6125em .75em;
        margin: 1.2em;
        line-height: 1;
        color: #000;
        border: none;
        background-color:transparent;
        &:hover {
            //color: #fff;
            background-color: #000;
            svg {
                fill: #fff;
            }
        }
    }
    .search-form {}
    .search-submit {
        display: none;
    }
    label {
        //padding: 3em 0 6em;
        //float:left;
        width: 70%;
        //padding: 0 1em;
        //min-width: 300px;
        //margin-right: 55px;
        //margin-left: 55px;
    }
    .search-field {
        //float:left;
        //margin: 4em 0 8em;
        //min-width: 300px;
        font-size: 1.25rem;
        font-weight: 300;
        width: 100%;
        border-radius: 0;
        padding-left: .75rem;
        //border-color: transparent;
        margin-top: 1rem;
        //border-bottom-color: #000;
    }
}

.left-sidebar-bg {
    display: none;
    width: 100%;
    height: 100%;
    //margin-left:320px;
    position: fixed;
    left: 320px;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    //background-color: #000;
    z-index: 1047;
}

#left-sidebar {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    width: 320px;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1048;
    .left-header,
    .main-navigation,
    .left-nav-social,
    .site-info,
    .widget {
        max-width: 240px;
    }
}

.left-sidebar-content {
    //position: relative;
    padding: 1em 1em 0 2em;
    height: 100%;
    width: 106%;
    overflow: auto;
    //color: #fff;
    a {
        //   color: #fff;
    }
    .site-info {
        @extend .small;
        text-align: right;
        padding: 1.5em 1em;
        //font-family: $headings-font-family;
        width: 100%;
        a {
            border-bottom: 1px solid #ccc;
            color: #ccc;
        }
    }
}

.left-header {
    //border-bottom: 1px solid #000;
    text-align: center;
}

.left-logo {
    //position: relative;
    padding: .75em 0;
    //text-align: left;
    //width:60%;
    //max-width:200px;
    //font-family: $headings-font-family;
    font-weight: 700;
    text-transform: uppercase;
    a {
        border: none;
        width: 200px;
        //text-align: center;
        display: inline-block;
    }
}

.menu-logo {
    //display: none;
    text-align: center;
    img {
        height: 40px;
        width:auto;
        //padding: .5rem 0;
        margin: .875rem .5rem;
    }
    .menu-blogname {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1.45em 1em;
        //padding: 2.5em .75em;
        margin: 0;
    }
}

.home {
    .menu-logo {
        //display: none;
    }
}

.menu-toggle {
    float: left;
}

.left-sidebar-close {
    //position: absolute;
    //top: $grid-gutter-width / 2;
    //right: $grid-gutter-width / 2;
    padding: 0 .125rem .125rem;
    float: right;
    //margin:1em;
    color: #000;
    border: none;
    //margin-top: 1em;
    background-color: transparent;
    &:hover {
        color: $color__link-hover;
    }
}

.menu-toggle,
.search-toggle {
    padding: .625rem .75rem .5rem;
    margin: .75rem;
    border: none;
    background-color: transparent;
    &:hover {
        background-color: $color__extra-dark;
    }
    svg {
        //fill: $color__extra-dark;
    }
    &:hover svg {
        fill: #fff;
    }
}

.search-toggle {
    float: right;
    margin: .75rem 0;
}

//.menu-toggle,
.nav-sidebar.toggled {
    //display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    //font-family: $headings-font-family;
    .site-main & {
        margin: 0 0 $grid-gutter-width;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}

.nav-social,
.left-nav-social {
    //padding: 0 0 2em;
    //width: 100%;
    text-align: center;
    a {
        display: inline-block;
        //width: 1rem;
        //height: 1rem;
        //border: 1px solid #404040;
        //border-radius: 50%;
        //width: 1.5em;
        //height: 1.5em;
        //padding: .125rem;
        color: $color__text-main;
        border-bottom: none;
        &:hover svg {
            color: $color__link-hover;
            transition: .5s;
        }
        svg {
            //width: 1rem;
            height: 1rem;
            margin: 0 .75em;
            //margin:auto;
            //width:1em;
            //height:1em;
        }
    }
}

.nav-social {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em 2em 1em 1em;
}

.left-nav-social {
    margin-bottom: $grid-gutter-width;
}


.top-menu-container,
.social-menu-container {
    display: inline-block;
    float: right;
}

#social-menu {
    float:right;
    margin: 0 24px 0 30px;
    li {
	a {
	    padding: 12px;
	    margin-top: 30px;
	    vertical-align: top;
	    margin-top: 26px;
	    margin-right: 6px;
	    .screen-reader-text {
		position: absolute !important;
		height: 1px;
		width: 1px;
	    }
	}
	&:after {
	    content: "";
	}
	a[href*="facebook.com"] {
	    background: url(img/facebook.svg)  no-repeat;
	    margin-right: 0;
	}

	a[href*="linkedin.com"] {
	    background: url(img/linkedin2.svg)  no-repeat;
	}

	a[href*="instagram.com"] {
	    background: url(img/instagram.svg)  no-repeat;
	}
	
	a[href*="flickr.com"] {
	    background: url(img/flickr3.svg)  no-repeat;
	}
	
	a[href*="plus.google.com"] {
	    background: url(img/google-plus.svg)  no-repeat;
	}
	
	a[href*="pinterest.com"] {
	    background: url(img/pinterest2.svg)  no-repeat;
	}
	
	a[href*="twitter.com"] {
	    background: url(img/twitter.svg)  no-repeat;
	}
	
	a[href*="youtube.com"] {
	    background: url(img/youtube.svg)  no-repeat;
	}
    }
}

.left-sidebar-content {
    .social-menu-container {
	float: none;
	#social-menu {
	    margin-left: 0;
	    li {
		display: inline-block;
		a {
		    width: auto;
		}
	    }
	}
    }
}
