html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";
        //@extend .blockquote;
        //padding: 0 0 1em 0;
        //margin-bottom: 0;
        //border-left: 8px solid #ccc;
	margin: 2rem 0 0;
	font-family: $font__serif;
        font-size:1.65rem;
        font-weight:700;
	//font-style: italic;
	line-height: 1.375;
	//text-align: center;
    	//padding-left: $grid-gutter-width / 2;
        //@extend .col-md-7;
	color: $color__extra-dark;

	cite {
	    //font-weight: 300;
			//color: #757575;
	}

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img, figure {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

.masonry img {
    width:100%;
}

.single {
    blockquote, q {

        cite {
            display: block;
            font-size: 1rem;
            text-align: right;
            margin-bottom: 1em;
            margin-top: 1em;
        }

        cite:before {
            content: "- ";
        }

        cite:after {
            content: " -";
        }
    }
}


@include media-breakpoint-up(lg){

    .single {
        blockquote, q {
            //padding-left: 0;
        }

				.post {
					blockquote, q, .entry-content img.alignleft, .entry-content img.alignnone, .entry-content figure.alignleft, .entry-content figure.alignnone {
			        //margin-left: -21%;
			    }

			    .entry-content img.alignnone, .entry-content figure.alignnone {
			        //min-width: 121%;
			    }
/*
					.entry-content.col-lg-10 {
						blockquote, q, img.alignleft, img.alignnone, figure.alignleft, figure.alignnone {
				        margin-left: -21%;
				    }

				    img.alignnone, figure.alignnone {
				        min-width: 121%;
				    }
					}*/
				}
    }
}

@import "tables";

:focus {
    //outline: transparent;
}

svg {
    max-width:24px;
    max-height: 24px;
    fill: $color__extra-dark;
    &:hover {
			fill: $color__link-hover;
    }
}

a {
    svg:hover {
        fill: $color__link-hover;
    }
		img {
			transition: .5s;
			&:hover {
				//opacity: 0.8;
				//zoom:110%;
				transition: .5s;
			}
		}
}

p {
	a {
		//text-decoration: underline;
	}
}
