.blover-jp-sharing {
  display: none;
  position: absolute;
  padding: $grid-gutter-width/4 0 0 $grid-gutter-width;
  //top: 0;
  right: 4rem;
  bottom: 0;
  //border-bottom: solid 1px transparent;
  left: 0;
  height: 100%;
  background-color: $color__background-body;
  .sd-social-icon {
    .sd-content {
	ul {
	  margin: 0 !important;
	  min-width: 200px;
	  background-color: $color__background-body;
	  li[class*='share-'] {
	      padding:0;
	      a {
		  //padding: 4px;
		  &:hover {
		      //padding: 4px;
		  }
	      }
	  }
	}
      }
  }
  div.sharedaddy h3.sd-title {
    display: none;
  }
  .sharedaddy {
    &.sd-sharing-enabled {
      width:100%;
    }
  }
  &.jp-sharing-visible {
    //position: absolute;
    //bottom: 18px;
    //background-color: $color__background-body;
  }
}


.home,
.search,
.archive,
.liveblog-entry {
    .blover-jp-sharing {
	padding: $grid-gutter-width/4 0 ($grid-gutter-width * .44) $grid-gutter-width;
	.sd-social-icon {
	    .sd-content {
		ul {
		  margin: 0 !important;
		  min-width: 200px;
		  background-color: $color__background-body;
		    li[class*='share-'] {
			a {
			    padding: 4px;
			    &:hover {
				padding: 4px;
			    }
			}
		    }
		}
	    }
	}
    }
}

.blover-jp-sharing-close, .blover-jp-sharing-toggle {
  background-color: transparent;
  border: none;
  float: right;
  padding: 0;
}

.blover-jp-sharing-close {
  display: none;
  svg {
    line{
      stroke: $color__extra-dark;
    }
  }
}

.blover-jp-sharing-toggle {
  margin-left: $grid-gutter-width/2;
  svg {
    margin-top: 2px;
  }
}

.single, .page {
  .blover-jp-sharing {
    display: inline-block;
    float: right;
    position: static;
    padding: 0 0 $grid-gutter-width;
    div.sharedaddy h3.sd-title {
      display: inline-block;
    }
  }
}

.product {
    .sharedaddy {
	margin-top: $grid-gutter-width/2;
    }
}

.widget_wpcom_social_media_icons_widget {
    ul {
	text-align: center;
	li {
	    display: inline-block !important;
	    margin: 0.25em !important;
	}
    }
    .genericon {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #fff;
	padding-top: 0.625rem;
    }
}

.widget_authors {
    > ul,
    li > ul {
	margin-top: $grid-gutter-width/2;
    }  
    > ul {
	> li {
	    > ul {
		> li {
		    border-bottom: 1px solid $color__border-input;
		    padding-bottom: $grid-gutter-width/2;
		}
	    }
	}
    }
}

.widget_contact_info {
    .confit-address,
    .confit-email {
	font-weight: 700;
	padding-bottom: 1em;
    }
}

.blog-stats ul li {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    line-height: 1.2;
}

.widget_jetpack_display_posts_widget {
    .jetpack-display-remote-posts {
	h4 {
	    a {
		text-decoration: none;
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1.2;
	    }
	}
	p {
	    padding: 0;
	    line-height: 1.4em !important;
	    font-size: 90%;
	    margin-bottom: 2em !important;
	    margin-top: 1em !important;
	}
    }
}
